
.idea/codeStyleSettings.xml

.idea/Contact Book V2.iml

.idea/dictionaries/josephlyons.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

.idea/xcode.xml

Contact Book V2.xcodeproj/project.xcworkspace/xcuserdata/josephlyons.xcuserdatad/WorkspaceSettings.xcsettings

Contact Book V2.xcodeproj/project.xcworkspace/xcuserdata/josephlyons.xcuserdatad/xcschemes/xcschememanagement.plist
